body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
  background-color: #f7ecd8;
  color: #354861;
}

.container {
  display: flex;
  min-height: 100vh;
}

.coluna.esquerda {
  width: 50%;
  background-color: #f9f9f9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nome {
  font-family: 'Pacifico', cursive;
  position: absolute;
  top: 40px; 
  left: 20%;
  font-size: 4em;
  z-index: 2;
  color: white;
  text-shadow: 
    2px 2px 5px rgba(0, 0, 0, 0.7), 
   -2px -2px 5px rgba(0, 0, 0, 0.4); 
  }

.foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  object-position: center top;
  }

.coluna.direita {
  width: 50%;
  padding: 30px;
  box-sizing: border-box;
}

/* Ocultar os conteúdos */
.conteudo {
  display: none;
  
}

input[type="radio"] {
  display: none;
}

/* Exibir apenas aba selecionada */
#aba1:checked ~ .conteudo#conteudo1,
#aba2:checked ~ .conteudo#conteudo2,
#aba3:checked ~ .conteudo#conteudo3,
#aba4:checked ~ .conteudo#conteudo4 {
  display: block;
}

/* Estilo dos botões */
.botoes {
  text-align: center;
  margin-bottom: 20px;
}

.botoes label {
  display: inline-block;
  background-color: #354861;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.botoes label:hover {
  background-color: #666;
}

form input, form textarea {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
}

footer {
  background-color: #131313;
  text-align: center;
  padding: 10px;
}

/* Responsivo */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .coluna.esquerda,
  .coluna.direita {
    width: 100%;
    height: auto;
  }

  .nome {
    position: static;
    display: block;
    text-align: center;
    margin: 20px 0;
  }


  .foto {
    height: auto;
    object-position: center;
  }
}
